@model ResourcesFirstTranslations.Web.Models.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Forgot your password?";
}
<div class="col-md-12 col-sm-12 col-lg-12 paddingTop">
    <section id="passwortForm">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="widget">
                <div class="widget-head">
                    <div class="page-title pull-left ng-binding">@ViewBag.Title</div>
                    <div class="clearfix"></div>
                </div>
                <div class="widget-content text-info">
                    <div class="col-sm-12 col-md-12 col-lg-12 paddingTopFirst">
                        @Html.LabelFor(m => m.Email, "Enter your email", new { @class = "col-sm-3 col-md-2 col-lg-2 control-label nopadding" })
                        <div class="col-sm-9 col-md-10 col-lg-6 nopadding">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-sm" })
                        </div>

                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 paddingTop">
                        <div class="col-sm-12 col-md-12 col-lg-12 nopadding">
                            <input type="submit" value="Email Link" class="btn btn-default buttonLarge" />
                        </div>
                    </div>
                </div>
                <div class="widget-foot">
                    <div class="clearfix"></div>
                </div>
            </div>
            @Html.ValidationSummary("", new { @class = "text-danger" })
        }
    </section>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
