@model ResourcesFirstTranslations.Web.Models.LoginViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Log in";
}



    <div class="col-md-12 col-sm-12 col-lg-12 paddingTop">
    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="widget">
                <div class="widget-head">
                    <div class="page-title pull-left ng-binding">Use a local account to log in.</div>
                    <div class="clearfix"></div>
                </div>
                <div class="widget-content text-info">
                    <div class="col-sm-12 col-md-12 col-lg-12 paddingTopFirst">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-sm-3 col-md-2 col-lg-2 control-label nopadding" })
                        <div class="col-sm-9 col-md-10 col-lg-6 nopadding">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>

                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 paddingTop">
                        @Html.LabelFor(m => m.Password, new { @class = "col-sm-3 col-md-2 col-lg-2 control-label nopadding" })
                        <div class="col-sm-9 col-md-10 col-lg-6 nopadding">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>

                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 paddingTop">
                        @Html.LabelFor(m => m.RememberMe, new { @class = "col-sm-3 col-md-2 col-lg-2 control-label nopadding" })
                        <div class="col-sm-9 col-md-10 col-lg-6 nopadding">
                            @Html.CheckBoxFor(m => m.RememberMe)
                        </div>

                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 paddingTop">
                        <div class="col-sm-12 col-md-12 col-lg-12 nopadding">
                            <input type="submit" value="Log in" class="btn btn-default buttonLarge" />
                        </div>

                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 paddingTop">
                        <div class="col-sm-12 col-md-12 col-lg-12 nopadding">
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </div>
                    </div>
                </div>
                <div class="widget-foot">
                    <div class="clearfix"></div>
                </div>
            </div>

            @Html.ValidationSummary(true)
           
        }
    </section>
</div>

  

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}